---
import Layout from "@/components/layouts/Layout.astro";
---

<Layout
    metadata={{
        title: "Kenny's Corner",
    }}
>
    <a href="/newsletter">Newsletter</a>
    <a href="/uptime">Uptime</a>
</Layout>
